<section>
  <h1 class="lead">Escolha o seu restaurante!</h1>
  <% @restaurants_with_same_location.each do |restaurant| %>
  <div class="well well-lg">
    <div>
      <p>Nome:<strong><%=restaurant.name%></strong></p>
      <p>Endereço:<strong><%=restaurant.address%></strong></p>
    </div>
    <div>
      <%=link_to 'Nesse restaurante', create_appointment_intention_path(@intention, restaurant: restaurant), method: :post, class:'btn btn-warning' %>
    </div>
  </div>
  <% end %>
</section>
