<p class="lead">
 <h3 div class="well well-lg">
   Obrigado <strong><%=  @appointment.intention.name %>
   </strong>, um e-mail foi enviado a <strong>
   <%= @appointment.selected_intention.name %>,
   </strong> informando a sua intenção de almoçar em
   <strong><%= @appointment.restaurant.name %></strong>!!! </p></h3></div>
