<p> Obrigado <%=  @appointment.intention.name %>, um e-mail foi enviado a \
<%= @appointment.selected_intention.name %> informando a sua intenção de almoçar em\
<%= @appointment.restaurant.name %> </p>
